{% extends "/common/layout.html" %}

{% block content %}

<br><br><br>
<div class="container">
        <div class="row">
            <div class="span4">
        <dl>
            <dt>
                作者 <small>Writer</small>
            </dt>
            <dd>
                @wind
            </dd>
            <br><hr><br>
            <dt>
                框架 <small>Framework</small>
            </dt>
            <dd>
                <h6>前端框架 <samall>Front end frame</samall></h6>Bootstarp
                <br>
                <h6>后端框架 <samall>Backend framework</samall></h6>Flask
            </dd>
            <br><hr><br>            
            <dt>
                语言 <small>Language</small>                        
            </dt>
            <dd>
                Python
            </dd>
            <br><hr><br>
            <dt>
                文本编辑器 <small>Text editor</small>
            </dt>
            <dd>
                Visual Studio Code
            </dd>
        </dl>
    </div>
    </div>
</div>
<br><br><br><br><br><br>


{% endblock %}