{% extends "/common/layout.html" %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="span12">
                <br><br><br><br><br>
                <h1>联系方式</h1><small>Contact Way</small>
                
                <br><h3> Q Q : 2235199513</h3>
                <br><h3>Email: 2235199513@qq.com</h3>                
                <br><h3> tel : None</h3>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}